BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Workout
	(
	UniqueID int NULL,
	VCode varchar(10) NULL,
	Name varchar(50) NULL,
	Price money NULL,
	Description varchar(1200) NULL,
	Mass float(53) NULL,
	WhBalance int NULL,
	Reserved int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Workout ADD CONSTRAINT
	IX_Workout UNIQUE NONCLUSTERED 
	(
	UniqueID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Workout SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Basketball
	(
	UniqueID int NULL,
	VCode varchar(10) NULL,
	Name varchar(50) NULL,
	Price money NULL,
	Description varchar(1200) NULL,
	Mass float(53) NULL,
	WhBalance int NULL,
	Reserved int NULL
	)  ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX IX_Basketball ON dbo.Basketball
	(
	UniqueID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.Basketball SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Football
	(
	UniqueID int NULL,
	VCode varchar(10) NULL,
	Name varchar(50) NULL,
	Price money NULL,
	Description varchar(1200) NULL,
	Mass float(53) NULL,
	WhBalance int NULL,
	Reserved int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Football ADD CONSTRAINT
	IX_Football UNIQUE NONCLUSTERED 
	(
	UniqueID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Football SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Hockey
	(
	UniqueID int NULL,
	VCode varchar(10) NULL,
	Name varchar(50) NULL,
	Price money NULL,
	Description varchar(1200) NULL,
	Mass float(53) NULL,
	WhBalance int NULL,
	Reserved int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Hockey ADD CONSTRAINT
	IX_Hockey UNIQUE NONCLUSTERED 
	(
	UniqueID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Hockey SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Client
	(
	UniqueID int NULL,
	Name varchar(50) NULL,
	PhoneNum varchar(15) NULL,
	Email varchar(50) NULL,
	OrderSum money NULL,
	LastBuyDate date NULL,
	City varchar(50) NULL,
	Address varchar(350) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Client ADD CONSTRAINT
	IX_Client UNIQUE NONCLUSTERED 
	(
	UniqueID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Client SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
